header {
    display: flex;
    /* justify-content: space-between; */
    width: 600px;

      
}

.topLeft {
    background-color: green;
    display:flex;
    width: 150px;
    justify-content: space-evenly;
}

.topRight {
    background-color: yellow;
    display:flex;
    width: 250px;
    justify-content: space-evenly;

}
.profile {
    width : 20px;
    height: 20px;

}

/* Main */
.logoArea {
    background-color: white;
    text-align: center;

}

.searchbarWrapper {
    display: flex;
    margin-top: 20px;
    background-color: orange;
    justify-content: center;
    align-items: center;    
}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;    
    position: relative;
}

#search, #voice {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;


}
#search {
    left: 10px;
    width: 20px;
}
#voice {
    right: 10px;
    width: 20px;
}
#searchbar {
    padding: 10px 30px;
    outline: 0;
    width: 500px;
    border-radius: 25px;
    border: 2px solid #eeeeee;
    
}


#buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.buttons {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgb(245, 243, 243);
    border-radius: 3px;
}
#links {
    margin-top: 20px;
    text-align: center;
}
body {
    display: flex;
    flex-direction: column;


}